@charset "UTF-8";

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Sriracha", cursive;
    --fonte3: "Passion One", sans-serif;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

header > h1{
    font-family: var(--fonte3);
    font-size: 10vw;
    font-weight: normal;
    margin-bottom: 0;
    font-variant: small-caps;
}


header p{
    font-size: 1.2em;
    font-family: var(--fonte1);
}

section > p{
    font-family: var(--fonte2);
    font-size: 3.5vw;
    line-height: 2em;
}

strong{
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
    color: white;
}
.imagem{
    background-attachment: fixed; 
    min-height: 400px;
    max-height: 2000px;
    background-size: cover;
    background-position: center center;
}
.imagem > p{
    display: inline-block;

    background-color: rgba(0, 0, 0, 0.452);
    color: white;

    padding: 10px;
    margin-left: 30px;

    font-family: var(--fonte2);
    font-size: 3.5vw;
    line-height: 2em;
    text-shadow: 2px 2px 5px black;
}


#img01{
    background-image: url(imagens/background001.jpg);
}

#img02{
    background-image: url(imagens/background002.jpg);
}

footer{
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    font-family: var(--fonte1);
    padding: 2px 0px;
    text-align: center;
    margin: auto;
    
}